<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<style>
    .button {
        display: block; 
        width: 150px; 
        padding: 10px;
        text-align: center; 
        text-decoration: none;
        background-color: #4caf50; 
        color: white; 
        border: none; 
        border-radius: 5px; 
        margin-bottom: 10px; 
    }
</style>

<a href='donation_form'  class="button">ฟอร์มรับบริจาค</a>
<a href="" class="button">รายงาน</a>

